<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>
<div class="container col-sm-6 col-sm-offset-3" id="form">

	<%= form_tag file_upload_path, multipart: true do %>

	  <div class="input-group form-group">
      	<span class="input-group-btn">
      	    <span class="btn btn-primary btn-file">
            Browse&hellip; <%= file_field_tag :file, class: 'form-control-file', id: 'exampleInputFile',:accept => '.xlsx' %>
            </span>
        </span>
        <input type="text" class="form-control" placeholder="Upload only an xlsx file (Email column is a must)" readonly>
      </div>

	  <div class="form-group">
		  <input class="form-control" type="text" placeholder="Write subject for your mail" id="example-text-input">
	  </div>

	  <div class="form-group">
	  	<%= cktext_area_tag :content%>
	  </div>

	  <div class="d-flex p-2 justify-content-between">
	 	 <button type="submit" class="btn btn-primary">Send</button>
	 	 <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-link">Instructions</button>
	  </div>

	<% end %>

  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <h4 class="modal-title" id="myModalLabel">How to use</h4>
        </div>
        <div class="modal-body">
          <ul>
          	<li>Upload file only in .xlsx format</li>
          	<li>Email column is a must in excel file</li>
          	<li>Attributes like ##name##, ##address, ##discount##, ##phone_no## can be used in message body</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primmry" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</div>

<style type="text/css">
	.btn-file {
	  position: relative;
	  overflow: hidden;
	}
	.btn-file input[type=file] {
	  position: absolute;
	  top: 0;
	  right: 0;
	  min-width: 100%;
	  min-height: 100%;
	  font-size: 100px;
	  text-align: right;
	  filter: alpha(opacity=0);
	  opacity: 0;
	  background: red;
	  cursor: inherit;
	  display: block;
	}
	input[readonly] {
	  background-color: white !important;
	  cursor: text !important;
	}

	#form{
		margin-top: 20vh;
	}
</style>

<script type="text/javascript">
	$(document).on('change', '.btn-file :file', function() {
	  var input = $(this),
	      numFiles = input.get(0).files ? input.get(0).files.length : 1,
	      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
	  input.trigger('fileselect', [numFiles, label]);
	});

	$(document).ready( function() {
	    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
	        
	        var input = $(this).parents('.input-group').find(':text'),
	            log = numFiles > 1 ? numFiles + ' files selected' : label;
	        
	        if( input.length ) {
	            input.val(log);
	        } else {
	            if( log ) alert(log);
	        }
	        
	    });
	});
</script>