<div class="container" style="margin-top: 20vh;">

	<% @columns.each do |c| %>
		<div class="row">
			<span><b><%= c %>:</b></span>
			<span>
				<% if c=="created_at" %>
				  	<td><%= @email[c].strftime("%a, %B %d %Y %I:%M %P") %></td>
				<% else %>
					<td><%= @email[c].to_s.html_safe %></td>
			    <% end %>
			</span>
		</div>
	<% end %>


</div>